{{FILE_BEFORE_HEADER}}
{{COMMENT_HEADER_START}}
{{COMMENT_LINE}} project: 81
{{COMMENT_LINE}} file: {{FILENAME}}
{{COMMENT_LINE}} date: {{DATE_EN}}
{{COMMENT_LINE}} author: {{AUTHOR}} <{{EMAIL}}>
{{COMMENT_LINE}} brief:
{{COMMENT_HEADER_END}}

{{FILE_AFTER_HEADER}}
{{CURSOR}}
{{FILE_FOOTER}}
